<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38319402528-fa9s6nc2ranjbmss89u4m7p91daqrdi5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38319402528-fa9s6nc2ranjbmss89u4m7p91daqrdi5</string>
	<key>API_KEY</key>
	<string>AIzaSyBvOhWSz-lwSJRZ7yyNBkHQuia8UTtrRmc</string>
	<key>GCM_SENDER_ID</key>
	<string>38319402528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clips</string>
	<key>PROJECT_ID</key>
	<string>clips-3d14e</string>
	<key>STORAGE_BUCKET</key>
	<string>clips-3d14e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38319402528:ios:b0958d75427b821f1d9645</string>
</dict>
</plist>